/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e4e4d7;
  color: black;
}

/* Header */
header {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 12px;
  margin: 0px 20px;
}

header .logo img {
  width: 120px;
}

header nav a {
  background-color: #fff8f8;
  color: black;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* About Section */
.about {
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-radius: 8px;
  max-width: 900px;
  margin: 2rem auto;
  overflow: hidden; /* Makes it look clean with rounded border */
}

/* Left (Image) Box */
.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.about-image img {
  width: 100%;
  max-width: 260px;
  border-radius: 10px;
}

/* Right (Text) Box */
.about-text {
  flex: 1;
  background-color: #d9d9d9;
  padding: 2rem;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
}

.about-text h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.about-text p {
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
}
