body {
  background-color: #e4e4d7;
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

/* Header */
header {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 12px;
  margin: 0px 20px;
}

header .logo img {
  width: 120px;
}

.nav_links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav_links li {
  list-style: none;
}

.nav_links a {
  background-color: #fff8f8;
  color: black;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.nav_links a:hover {
  color: #fff;
}

.contact-form {
  background-color: #d9d9d9;
  padding: 10px 5px;
  border-radius: 10px;
  margin-top: 20px;
}

.contact-form h2 {
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-top: 10px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form button {
  background-color: #ffffff;
  color: black;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
