/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #e4e4d7; /* Light neutral background */
}

/* Header styling */
.header {
  background-color: #d9d9d9; /* Beige background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin: 0px 20px;
  border-radius: 0 0 15px 15px;
}

/* Logo styling */
.logo-wrapper img {
  height: 70px;
  width: auto;
}

/* Navigation menu */
.navbar menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  display: inline-block;
  padding: 10px 20px;
  color: #333;
  background-color: #fff8f8;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: #fff;
}

/* Portfolio Section (transparent background) */
.portfolio {
  text-align: center;
  padding: 40px 20px;
}

.portfolio h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 40px;
  background: #d9d9d9;
  color: #000;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.cards div {
  background-color: #e5e5e5;
  padding: 20px;
  border-radius: 10px;
  max-width: 250px;
  text-align: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.cards img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.cards h3 {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 10px;
}

.cards p {
  font-size: 0.9rem;
  color: #333;
}
